
                    <div class="sm:shadow mt-3 rounded bg-white">
                        <div class="xl:w-full w-11/12 mx-auto flex flex-wrap items-center justify-between px-8 mb-2 xl:mb-0 lg:mb-0">
                            <div class="xl:w-1/5 py-5">
                                <div class="flex items-center">
                                    <p class="text-sm text-gray-600 pl-2 font-normal">Product Title</p>
                                </div>
                            </div>
                            <div class="xl:w-1/5 py-5">
                                <div class="flex items-center">
                                    <i class="text-gray-600 fas fa-hashtag"></i>
                                    <p class="text-sm text-gray-600 pl-2 font-normal">1001001000</p>
                                </div>
                            </div>
                            <div class="xl:w-1/5 py-5">
                                <div class="flex items-center">
                                    <i class="text-gray-600 far fa-calendar-alt"></i>
                                    <p class="text-sm text-gray-600 pl-2 font-normal">Uodated on 10/02/2021</p>
                                </div>
                            </div>
                            <div class="xl:w-1/5 py-5">
                                <div class="flex items-center">
                                    <i class="far fa-check-circle" style="color:68D391"></i>
                                    
                                    <p class="text-sm text-gray-600 pl-2 font-normal">Success</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                
            <div class="max-w-8xl mx-auto container py-8">
                <ul class="flex justify-center items-center">
                    <li>
                        <span class="cursor-pointer flex rounded transition duration-150 ease-in-out text-base leading-tight font-bold text-gray-500 hover:text-indigo-700 p-1 focus:outline-none">
                            <div class="h-6 w-6 m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <polyline points="15 6 9 12 15 18" />
                                </svg>
                            </div>
                        </span>
                    </li>
                    <li>
                        <span class="flex bg-gray-400 hover:bg-indigo-700 cursor-pointer transition duration-150 ease-in-out w-3 h-3 mx-3 rounded-full focus:outline-none"></span>
                    </li>
                    <li>
                        <span class="flex bg-gray-400 hover:bg-indigo-700 cursor-pointer transition duration-150 ease-in-out w-3 h-3 mx-3 rounded-full focus:outline-none"></span>
                    </li>
                    <li>
                        <span class="flex bg-gray-400 hover:bg-indigo-700 cursor-pointer transition duration-150 ease-in-out w-3 h-3 mx-3 rounded-full focus:outline-none"></span>
                    </li>
                    <li>
                        <span class="flex bg-gray-400 hover:bg-indigo-700 cursor-pointer transition duration-150 ease-in-out w-3 h-3 mx-3 rounded-full focus:outline-none"></span>
                    </li>
                    <li>
                        <span class="cursor-pointer flex rounded transition duration-150 ease-in-out text-base leading-tight font-bold text-gray-500 hover:text-indigo-700 p-1 focus:outline-none">
                            <div class="h-6 w-6 m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <polyline points="9 6 15 12 9 18" />
                                </svg>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
        
            